service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated users to read and write their own user document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow any authenticated user to read and write to the "locations" collection
    match /locations/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow any authenticated user to read and write to the "coffeeGifts" collection
    match /coffeeGifts/{coffeeGiftId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow only the recipient to read the notification document
    match /notifications/{notificationId} {
      allow read: if request.auth != null && resource.data.recipientId == request.auth.uid;
      allow write: if request.auth != null;
    }
    
    // Allow any authenticated user to read from the "users" collection
    match /users/{document=**} {
      allow read: if request.auth != null;
      allow write: if false; // Disable write access to the "users" collection
    }
  }
}







