:root {
  --black: #202020;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #dd83a2;
}

select {
  appearance: none;
  width: 14em;
  height: 2.5em;
  margin-right: 1em;
  border: 0;
  outline: 0;
  font: inherit;
  text-align-last: center;
  padding: 0 3em 0 1em;
  color: rgb(252, 154, 154);
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  option {
    color: inherit;
    background-color: #320a28;
  }

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}
